<!doctype html>
<html lang="en"
      th:replace="~{base ::parent(~{::#main_content},~{::title},~{::script})}">
<head>
    <title>Log in</title>
</head>
<body>
<div id="main_content" class="p-5 mt-5">
    <div class="grid grid-cols-12">
        <div class="lg:col-span-3 md:col-span-2 xl:col-span-4 col-span-4"></div>
        <div class="lg:col-span-6 md:col-span-8 xl:col-span-4 col-span-12">

            <div class="block border-t-4  p-6 bg-white border border-gray-300 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <img class="rounded-full w-10 h-10" src="../images/defaultProfile.jpg" alt="image description">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Login</h5>
                <p class="font-normal text-gray-400 dark:text-gray-400">Store your content on cloud.</p>

                <div class="text-red-600" th:if="${param.error}">
                    Invalid username and password.</div>
                <div class="text-green-600" th:if="${param.logout}">
                    You have been logged out.</div>

                <form method="post" data-th-action="@{'/authenticate'}"  class="mt-4">

                    <div class="mb-5">
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                        <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-gray-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter Email" required />
<!--                        <p data-th-errors="" class="text-red-600 py-2">Email is required</p>-->
                    </div>
                    <div class="mb-5">
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                        <input type="password" name="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-gray-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter password" required />
<!--                        <p data-th-errors="" class="text-red-600 py-2">Password is required</p>-->
                    </div>

                    <div class="mb-3 flex justify-center space-x-2">
                        <button type="submit" class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-gray-600 dark:hover:bg-gray-500 dark:focus:ring-gray-800">Login</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>